html,body {
  margin: 0;
  padding: 0;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}


.signInContainer{
  background-color: #efefee;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.column{
  background-color: white;
  width: 45%;
  min-height: 300px;
  max-height: 100%;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  padding: 20px 35px;
  box-sizing: border-box;
  overflow-y: auto;
}

.column form{
  display:flex;
  flex-direction:column;
  padding-top: 20px;
  
}

.column form input[type = 'text'],
.column form input[type = 'email'],
.column form input[type = 'password']{
  font-size : 18px;
  margin: 10px 0;
  border:none;
  border-bottom:1px solid #dedede;
}

.column form input[type = 'submit']{
  background-color: rgb(68, 68, 197);
  color:#efefee;
  width: 100px;
  height: 40px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 100;

}
.column .header{
  padding: 20px 0;
}
.column .header h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;

}
.logo {
  width: 150px;
}
.loginLink{
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.errorMessage{
  color: tomato;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.previewContainer{
  position: relative;
  display: flex;
}

.previewimage,
.previewVideo {
  width :100%;
 }


.previewOverlay{
 background-color:rgba(0,0,0,0.3);
 width: 100%;
 height:100%;
 position: absolute;
}
.mainDetails h3{
  color: white;
  font-size: 40px;
  margin:15px 0;
}

.mainDetails {
  position: relative;
  margin-top: 30%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.mainDetails button {
  background-color: rgba(51,51,51,0.4);
    color: white;
    border: none;
    min-width: 150px;
    padding: 0 30px;
    height: 50px;
    max-height: 50px;
    font-size: 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

button i{
  color: inherit;
}

.mainDetails button:hover{
  background-color: #e6e6e6;
  color:#000;
}